body {
    width:357px;
    height:600px;
    /* background-image: url("/images/background_helios_login.jpg");
*/  
}

  .frontpage_block_background{
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    background-color:#fff;
    opacity: 0.1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 0 9px 0 9px;
}

div{
    position:relative;
}
.frontpage_block_content_container{
    z-index:10;
    padding-left:30px;
    padding-right:30px;
    padding-top:13px;
    padding-bottom:23px;
}

.label{
    text-transform:uppercase;
    color: #858585;
    font-size:12px;
    display:inline-block;
}

/* .file_input:after{
    position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #666666 transparent transparent transparent;
} */

.input-login{
    margin: 10px;
    width: 70%;

}

.input_line_container{
    text-align: center;
}

.app-header{
    height: 50px;
    -webkit-box-align: center;
    align-items: center;
  
    position: relative;
    z-index: 12;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    width: 100%;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    
}
.app-header-logo-container{
    align-self: flex-start;
    height: 50px;
  
  
    /* background-image: url(/icons/heliosLogo64.png); */
}
.app-logo-container-login{
    align-self: center;
    height: 50px;
  
    /* background-image: url(/icons/heliosLogo64.png); */
}
.margin-center-singUp{
    text-align: center;
    margin-top: 81px;
    }
    
    .extra-login{
        text-align: center;
    }

    .btn-login{
        text-align: center;
        width: 106%;
        margin-top: 10px;
    }